modellookup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://soapbeta.streamflow.ca/ipl/soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="Application_Model_IplSoap" targetNamespace="https://soapbeta.streamflow.ca/ipl/soap">
    <types>
        <schema>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <element name="requests">
                <complexType>
                    <element name='item' maxOccurs="100">
                        <complexType>
                            <sequence>
                                <element name="key" type="string"/>
                                <element name="value" type="string"/>
                            </sequence>
                        </complexType>
                    </element>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="searchModelsIn">
        <part name="requests" element="tns:requests"/>
    </message>
    <message name="searchModelsOut">
        <part name="return" element="tns:requests"/>
    </message>
    <message name="getModelSectionsIn">
        <part name="requests" element="tns:requests"/>
    </message>
    <message name="getModelSectionsOut">
        <part name="return" element="tns:requests"/>
    </message>
    <message name="getModelSectionsPartsIn">
        <part name="requests" element="tns:requests"/>
    </message>
    <message name="getModelSectionsPartsOut">
        <part name="return" element="tns:requests"/>
    </message>
    <message name="modelSearchPartsIn">
        <part name="requests" element="tns:requests"/>
    </message>
    <message name="modelSearchPartsOut">
        <part name="return" element="tns:requests"/>
    </message>


    <portType name="Application_Model_IplSoapPort">
        <operation name="searchModels">
            <documentation>searchModels
                Searches IPL Models
            </documentation>
            <input message="tns:searchModelsIn"/>
            <output message="tns:searchModelsOut"/>
        </operation>
        <operation name="getModelSections">
            <documentation>getModelSections
                Get all Model Sections
            </documentation>
            <input message="tns:getModelSectionsIn"/>
            <output message="tns:getModelSectionsOut"/>
        </operation>
        <operation name="getModelSectionsParts">
            <documentation>getModelSectionsParts
                Get all Parts in a Model Section
            </documentation>
            <input message="tns:getModelSectionsPartsIn"/>
            <output message="tns:getModelSectionsPartsOut"/>
        </operation>
        <operation name="modelSearchParts">
            <documentation>modelSearchParts
                Search for Parts in a Model
            </documentation>
            <input message="tns:modelSearchPartsIn"/>
            <output message="tns:modelSearchPartsOut"/>
        </operation>
    </portType>
    <binding name="Application_Model_IplSoapBinding" type="tns:Application_Model_IplSoapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="searchModels">
            <soap:operation soapAction="https://soapbeta.streamflow.ca/ipl/soap#searchModels"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </output>
        </operation>
        <operation name="getModelSections">
            <soap:operation soapAction="https://soapbeta.streamflow.ca/ipl/soap#getModelSections"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </output>
        </operation>
        <operation name="getModelSectionsParts">
            <soap:operation soapAction="https://soapbeta.streamflow.ca/ipl/soap#getModelSectionsParts"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </output>
        </operation>
        <operation name="modelSearchParts">
            <soap:operation soapAction="https://soapbeta.streamflow.ca/ipl/soap#modelSearchParts"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://soapbeta.streamflow.ca/ipl/soap"/>
            </output>
        </operation>
    </binding>
    <service name="Application_Model_IplSoapService">
        <port name="Application_Model_IplSoapPort" binding="tns:Application_Model_IplSoapBinding">
            <soap:address location="https://soapbeta.streamflow.ca/ipl/soap"/>
        </port>
    </service>
</definitions>